extends ../main

block content
  form(method="post")
    div(class="row")
      div(class="col-md-6")
        fieldset()
          legend Account Information
          div(class="form-group")
            label(for="email") Email Address
            input(class="form-control", type="email", name="email", id="email", placeholder="john@example.com", value=user.email)
          div(class="form-group")
            label(for="password") Password
            input(class="form-control", type="password", name="password", id="password")
          div(class="form-group")
            label(for="verify-password") Verify Password
            input(class="form-control", type="password", name="verify-password", id="verify-password")
          div(class="checkbox")
            label
              input(type="checkbox", name="admin", id="admin", value="admin", checked=user.admin)
              | Is Admin
          div(class="checkbox")
            label
              input(type="checkbox", name="active", id="active", value="active", checked=user.active)
              | Is Active
      div(class="col-md-6")
        fieldset
          legend Report Access
          for report in reports
            div(class="checkbox")
              label
                input(type="checkbox", name="reports[]", value=report._id, checked=report.access)
                span= report.name
    button(type="submit", class="btn btn-primary") Save