extends ../main

block content
  form(action="/report/"+report._id,method="post",class="report-form",data-report-id=report._id+"")
    fieldset(id="google-analytics-account")
      legend Accounts
      p
        if report.auth.google.token
          div(class="form-inline")
            div(class="form-group")
              label(for="googleAccount") Account
              select(id="googleAccount",name="googleAccount",class="form-control",data-selected=report.auth.google.account.account)
            div(class="form-group")
              label(for="googleProperty") Property
              select(id="googleProperty",name="googleProperty",class="form-control",data-selected=report.auth.google.account.property)
            div(class="form-group")
              label(for="googleProfile") Profile
              select(id="googleProfile",name="googleProfile",class="form-control",data-selected=report.auth.google.account.profile)
          a(href="/report/" + report._id + "/auth/google/deauth") Deauthorize Google
        else
          a(href="/report/" + report._id + "/auth/google" class="btn btn-primary") Sign In To Google
      p
        if report.auth.twitter.token
          a(href="/report/" + report._id + "/auth/twitter/deauth") Deauthorize Twitter
        else
          a(href="/report/" + report._id + "/auth/twitter" class="btn btn-primary") Sign In To Twitter
      p
        if report.auth.facebook.token
          div(class="form-group")
            label(for="facebookPage") Facebook Page
            select(name="facebookPage",id="facebookPage",class="form-control",data-selected=report.auth.facebook.page)
          a(href="/report/" + report._id + "/auth/facebook/deauth") Deauthorize Facebook
        else
          a(href="/report/" + report._id + "/auth/facebook" class="btn btn-primary") Sign In To Facebook
    fieldset
      legend Sample Range
      div(class="row")
        div(class="col-md-6")
          div(class="form-group")
            label(for="sampleStart",class="control-label") Sample Start Date
            div(class="input-group")
              input(data-provide="datepicker", class="form-control", name="sampleStart",id="sampleStart",type="text",placeholder="YYYY-MM-DD", value=(report.sampleStart ? report.sampleStart : defaultDates.start))
              div(class="input-group-addon")
                span(class="glyphicon glyphicon-th",aria-hidden="true")
        div(class="col-md-6")
          div(class="form-group")
            label(for="sampleEnd",class="control-label") Sample End Date
            div(class="input-group")
              input(data-provide="datepicker", class="form-control", name="sampleEnd",id="sampleEnd",type="text",placeholder="YYYY-MM-DD", value=(report.sampleEnd ? report.sampleEnd : defaultDates.end))
              div(class="input-group-addon")
                span(class="glyphicon glyphicon-th",aria-hidden="true")
      div(class="form-group")
        label(for="pathPattern",class="control-label") Sample Path Pattern
        input(type="text", class="form-control", name="pathPattern", id="pathPattern", placeholder="/path/*/like/*/this", value=report.pathPattern)
    fieldset
      legend Report
      div(class="row")
        div(class="col-md-6")
          div(class="form-group")
            label(for="reportStart",class="control-label") Report Start Date
            div(class="input-group")
              input(data-provide="datepicker", class="form-control", name="reportStart",id="reportStart",type="text",placeholder="YYYY-MM-DD", value=(report.reportStart ? report.reportStart : defaultDates.start))
              div(class="input-group-addon")
                span(class="glyphicon glyphicon-th",aria-hidden="true")
        div(class="col-md-6")
          div(class="form-group")
            label(for="reportEnd",class="control-label") Report End Date
            div(class="input-group")
              input(data-provide="datepicker", class="form-control", name="reportEnd",id="reportEnd",type="text",placeholder="YYYY-MM-DD", value=(report.reportEnd ? report.reportEnd : defaultDates.end))
              div(class="input-group-addon")
                span(class="glyphicon glyphicon-th",aria-hidden="true")
      div(class="form-group")
        label(for="reportURLs",class="control-label") Report URLs
        textarea(class="form-control",name="reportURLs",id="reportURLs")= report.reportURLs
    input(type="submit",class="btn btn-primary",value="Build Report") 
