extends ../main

block content
  h3 Performance
  div(id="report-chart",data-points=chartData)
  table(class="table")
    thead
      for field in table.fields
        th= field.label
    tbody
      for row in table.data
        tr
          for field in table.fields
            td= row[field.name]
  h3 Benchmarks
  table(class="table")
    thead
      th Metric
      th Benchmark
      th Weight
    tbody
      for row in benchmark
        tr
          td= row.label
          td= row.value
          td= row.weight